body{
background:url(myBg.jpg); 
color:yellow;
}
.wrapper{
margin:0 auto; 
display:table;
}
h1{
margin:0 auto; 
display:table;
}
p{
style="font-size:2em; 
color:red;
 text-align:center;
}

